div.item{
	/*background-color:red;*/
	padding-left:75px;
	padding-right:75px;
}
div.item-title{
	padding-bottom:5px;
	font-size:18px;
}	
div.item-description{
	padding-left:25px;	
}
div.item-date{
	padding-left:25px;
	padding-top:5px;
}