.big_margin{margin:10px;}
.margin{margin:5px;}
.small_margin{margin:2px;}
#table-image{
	height:345px;
	width:600px;
	top:70px;
}
#history_board_box{
	top:100px;
	left:100px;
}
#message-box{
	background-color:black;	
	top:30px;
	left:550px;
	height:60px;
	width:340px;
	font-size:15px;
	font-family:Times;
	color:rgb(240,240,240);
}
#current_bet_box{
	width:100px;
	height:200px;
	top:100px;
	left:800px;
	font-size:15px;
	font-family:Times;
	color:rgb(240,240,240);	
}
#wheel-spinning{
	top:335px;
	left:60px;
	visibility:hidden;	
}
#game_over_box{top:0px;left:0px;width:300px;height:80px;}
#game_over_box_quick{top:20px;left:0px;font-size:12px;}
#game_over_box_custom{top:20px;left:0px;font-size:12px;}
#game_over_box_quit{top:20px;left:0px;font-size:12px;}
img.chip{
	height:40px;
	width:40px;	
}
.button-width{
	width:110px;	
}
.button-height{
	height:20px;	
}
.brown_border{
	border:3px solid rgb(80,40,0);
}
.hbrow{
	clear:both;
}
.hbcell{
	width:28px;
	height:15px;
	background-color:rgb(0,0,0);
	font-family:Times;
	font-size:15px;
	text-align:center;
}